header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 86.5%;
}

.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 30%;
  min-width: 300px;
  margin-top: 30px;
}

.search-bar {
  display: flex;
  flex: 1;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  height: 40px;
  padding-left: 45px;
  font-family: Montserrat;
  z-index: 100;
}

input:focus {
  outline:none;
}

.search-bar::placeholder {
  font-size: 15px;
}

.search-icon {
  position: absolute;
  left: 12px;
  opacity: 0.4;
  width: 25px;
  top: 8px;
  z-index: 101;
}