main {
  display: flex;
  padding-top: 60px;
}

.news-board, .changes-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 89vh; 
  min-width: 420px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border-radius: 7px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.news-board {
  margin-right: 15px;
}

.post-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-right: 10px;
  margin-left: 10px;
  border-color: rgba(0,0,0,0.3);
}

.post-title {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  text-shadow: 3px 1px 10px rgba(0,0,0,0.2);
  color: rgb(27, 23, 23);
  cursor: default;
}

.post-title:hover {
  opacity: 0.7;
}

.post-image-container {
  display: flex;
  justify-content: center;
}

.post-image {
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 7px;
  width: 90%;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.today, .tomorrow, .after-tomorrow, .next-week {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 30px;
  margin-bottom: 10px;
  text-shadow: 3px 1px 10px rgba(0,0,0,0.2);
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(0,0,0,0.3);
  color: rgb(27, 23, 23);
  cursor: default;
}

.changes {
  font-size: 25px;
  font-weight: normal;
  color: rgb(27, 23, 23);
  cursor: default;
}

.login-window, .register-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  padding: 10px 20px 10px 20px;
  border-radius: 7px;
  width: 20%;
  min-width: 300px;
  z-index: 1;
}

.register-window {
  top: 20%;
}

.login-window {
  top: 30%;
}

.user-icon-login {
  padding: 3px;
  width: 20%;
  margin-bottom: px;
}

.login-container, .register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.name-box {
  display: flex;
  flex-direction: row;
  width: 107%;
}

.name-register, .surname-register {
  margin: 10px 0px 10px 0px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  height: 40px;
  border-radius: 7px;
  padding: 0 10px 0 10px;
  font-family: Montserrat;
}

.name-register {
  margin-right: 9px;
  width: 100%;
}

.surname-register {
  width: 100%;
}

.input-box {
  margin: 10px 0 10px 0;
  border: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  height: 40px;
  border-radius: 7px;
  padding: 0 10px 0 10px;
  font-family: Montserrat;
  width: 100%;
}

.noaccounttext {
  margin-bottom: 0px;
  font-family: Montserrat;
  font-size: 15px;
  margin-top: 100px;
}

.signup-loginbox {
  background-color: transparent;
  box-shadow: none;
  color: rgb(34, 46, 80);
  font-size: 15px;
  padding: 0;
}