<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile/general_mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile/header_mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile/main_mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile/sidebar_mobile.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <title>zamjene.hr</title>
</head>

<body>
  <header>
    <div class="logo">
      <span class="logo-text">zamjene.hr</span>
    </div>
    <div class="menu1">
      <img class="menu-icon" onclick="toggleMenu()" src="{{ url_for('static', filename='pictures/menu.svg')}}">
    </div>
  </header>

  <div class="dropdown-menu" id="subMenu">
      <div class="dropdown-box">
        <p class="dropdown-text">Početna</p>
      </div>
      <div class="dropdown-box">
        <p class="dropdown-text">Moje zamjene</p>
      </div>
      <div class="dropdown-box">
        <p class="dropdown-text">Oglasna ploča</p>
      </div>
      <div class="dropdown-box">
        <p class="dropdown-text">Moj raspored sati</p>
      </div>
      <div class="dropdown-box">
        <p class="dropdown-text">Moj raspored učionica</p>
      </div>
  </div>
  
  <main class="page-center">
    <div class="changes-box">
      <div class="today">
        Zamjene danas
        <div class="changes">Zamjena</div>
        <div class="changes">Zamjena</div>
        <div class="changes">Zamjena</div>
      </div>
      <div class="tomorrow">
        Zamjene sutra
        <div class="changes">Zamjena</div>
        <div class="changes">Zamjena</div>
        <div class="changes">Zamjena</div>
      </div>
      <div class="after-tomorrow">
        Zamjene prekosutra
        <div class="changes">Zamjena</div>
        <div class="changes">Zamjena</div>
        <div class="changes">Zamjena</div>
      </div>
      <div class="next-week">
        Idući tjedan
        <div class="changes">Zamjena</div>
        <div class="changes">Zamjena</div>
        <div class="changes">Zamjena</div>
      </div>
    </div>


    <section class="news-board">
      <div class="post-box">
        <div class="post-title">Naslov objave</div>
        <div class="post-image-container">
          <img class="post-image" src="{{ url_for('static', filename='pictures/image.jpg')}}">
        </div>
      </div>
      <div class="post-box">
        <div class="post-title">Naslov objave</div>
        <div class="post-image-container">
          <img class="post-image" src="{{ url_for('static', filename='pictures/profile-picture.jpg')}}">
        </div>
      </div>
  </main>

  <script>
    let subMenu = document.getElementById("subMenu");
    
    function toggleMenu(){
      subMenu.classList.toggle("open-menu")
    }
  </script>

</body>
</html>