
<!--body>
  <div class="main">
    
    <div class="main-cont-zamjene main-cont">
      <div class="whole-zamjene zamjene-standalone">
        <div class="section-title">ZAMJENE</div> 
        <section class="zamjene-cont">
          <div class="zamjne-today">
            <p class="zamjene-naslov">Zamjene danas</p>
            {% if zamjeneDanas %}
              {% for zamjena in zamjeneDanas %}
                <p class="zamjene-desc">
                  Od {{ zamjena.od }} <br>
                  Do {{ zamjena.do }} <br>
                  Novi predmet: {{ zamjena.zamjena }}
                </p>
              {% endfor %}
            {% else %}
              <p>Nemaš zamjena danas</p>
            {% endif %}
          </div>
          <div class="zamjene-sutra">
            <p class="zamjene-naslov">Zamjene sutra</p>
            {% if zamjeneSutra %}
              {% for zamjena in zamjeneSutra %}
                <p class="zamjene-desc">
                  Od: {{ zamjena.od }} <br>
                  Do: {{ zamjena.do }} <br>
                  Novi predmet: {{ zamjena.zamjena }}
                </p>
              {% endfor %}
            {% else %}
              <p>Nemaš zamjena sutra</p>
            {% endif %}
          </div>
          <div class="zamjene-prekosutra">
            <p class="zamjene-naslov">Zamjene prekosutra</p>
            {% if zamjenePrekosutra %}
              {% for zamjena in zamjenePrekosutra %}
                <p class="zamjene-desc">
                  Od {{ zamjena.od }} <br>
                  Do {{ zamjena.do }} <br>
                  Novi predmet: {{ zamjena.zamjena }}
                </p>
              {% endfor %}
            {% else %}
              <p>Nemaš zamjena prekosutra</p>
            {% endif %}
          </div>

          <div class="zamjene-sljtjedan">
            <p class="zamjene-naslov">Idući tjedan</p>
            {% if zamjeneSljedeciTjedan %}
              {% for zamjena in zamjeneSljedeciTjedan %}
                <p class="zamjene-desc">
                  Od {{ zamjena.od }} <br>
                  Do {{ zamjena.do }} <br>
                  Datum zamjene: {{ zamjena.datum }} <br>
                  Novi predmet: {{ zamjena.zamjena }}
                </p>
              {% endfor %}
            {% else %}
              <p>Nemaš zamjena sljedeći tjedan</p>
            {% endif %}
          </div>
        </section>
      </div>
    </div>
  </div>
</body-->




<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/mobile/general_mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/mobile/header_mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/mobile/main_mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/mobile/sidebar_mobile.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <title>zamjene.hr</title>
</head>

<body>
  <header>
    <div class="logo">
      <span class="logo-text">zamjene.hr</span>
    </div>
    <div class="menu">
      <div class="shape"></div>
      <img class="menu-icon" onclick="toggleMenu()" src="{{ url_for('static', filename='pictures/menu.svg')}}">
    </div>
  </header>

  <div class="dropdown-menu" id="subMenu">
      <div class="dropdown-box">
        <p class="dropdown-text" onclick="changeUrl('/')">Početna</p>
      </div>
      {% if isLoggedIn=="True" %}
        {% if skola!="True" %}
          <div class="dropdown-box">
            <p class="dropdown-text" onclick="changeUrl('/prikazzamjenaucenik')">Moje zamjene</p>
          </div>
          <div class="dropdown-box">
            <p class="dropdown-text" onclick="changeUrl('/prikaziraspored')">Raspored predmeta</p>
          </div>
        {% endif %}
        {% if admin!="True" %}
          <div class="dropdown-box">
            <p class="dropdown-text" onclick="changeUrl('/oglasnaploca')">Oglasna ploča</p>
          </div>
          <div class="dropdown-box">
            <p class="dropdown-text" onclick="changeUrl('/rasporeducionica')">Raspored učionica</p>
          </div>
        {% endif %}
      {% endif %}
        {% if isLoggedIn=="True" %}
            {% if skola=="True" %}
            <div class="dropdown-box">
              <p class="dropdown-text dark" onclick="changeUrl('/viewprofile')">Upravni centar</p>
            </div>
            <div class="dropdown-box">
              <p class="dropdown-text dark" onclick="changeUrl('/logout')">Odjavi se</p>
            </div>
            {% elif admin=="True" %}
            <div class="dropdown-box">
              <p class="dropdown-text dark" onclick="changeUrl('/addschool')">Dodaj školu</p>
            </div>
            <div class="dropdown-box">
              <p class="dropdown-text dark" onclick="changeUrl('/logout')">Izađi iz admin moda</p>
            </div>
            {% else %}
            <div class="dropdown-box dark">
              <p class="dropdown-text" onclick="changeUrl('/viewprofile')">Profil</p>
            </div>
            <div class="dropdown-box  dark">
              <p class="dropdown-text" onclick="changeUrl('/logout')">Odjavi se</p>
            </div>
            {% endif %}
        {% endif %} 
  </div>

  <main class="page-center">
      <section class="changes-box standalone">
        <div class="today">
          Zamjene danas
          {% if zamjeneDanas %}
            {% for zamjena in zamjeneDanas %}
              <p class="changes">
                {{ zamjena.od }} <br>
                Novi predmet: {{ zamjena.zamjena }}
              </p>
            {% endfor %}
          {% else %}
            <p class="changes">Nemaš zamjena danas</p>
          {% endif %}
        </div>
        <div class="tomorrow">
          Zamjene sutra
          {% if zamjeneSutra %}
            {% for zamjena in zamjeneSutra %}
              <p class="changes">
                {{ zamjena.od }} <br>
                Novi predmet: {{ zamjena.zamjena }}
              </p>
            {% endfor %}
          {% else %}
            <p class="changes">Nemaš zamjena sutra</p>
          {% endif %}
        </div>
        <div class="after-tomorrow">
          Zamjene prekosutra
          {% if zamjenePrekosutra %}
            {% for zamjena in zamjenePrekosutra %}
              <p class="changes">
                {{ zamjena.od }} <br>
                Novi predmet: {{ zamjena.zamjena }}
              </p>
            {% endfor %}
          {% else %}
            <p class="changes">Nemaš zamjena prekosutra</p>
          {% endif %}
        </div>
        <div class="next-week">
          Zamjene sljedeći tjedan
          {% if zamjeneSljedeciTjedan %}
            {% for zamjena in zamjeneSljedeciTjedan %}
              <p class="changes">
                {{ zamjena.od }} <br>
                Datum zamjene: {{ zamjena.datum }} <br>
                Novi predmet: {{ zamjena.zamjena }}
              </p>
            {% endfor %}
          {% else %}
            <p class="changes">Nemaš zamjena sljedeći tjedan</p>
          {% endif %}
        </div>
      </section>
  </main>

  <script>
    let subMenu = document.getElementById("subMenu");
    
    function toggleMenu(){
      subMenu.classList.toggle("open-menu")
    }
  </script>
  <script>
    function changeUrl(url){
      window.location.href=url;
    }
  </script>


</body>
</html>