<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/pc/general.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/pc/header.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/pc/main.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/pc/sidebar.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <title>zamjene.hr</title>
</head>


<body>
  <img class="background-image" src="{{ url_for('static', filename='pictures/background.png')}}">
  <div class="body-login">
    <section class="login-window">
      {% if error %}
      {{ error }}
      {% endif %}
      <img class="user-icon-login" src="{{ url_for('static', filename='pictures/user.svg')}}">
      <p>ADMIN LOGIN</p>
      <form class="login-container" action="/loginadminsend" method="POST">
        <input class="input-box" type="text" placeholder="Lozinka" name="password" id="passowrd">
        <button style="width:106%;" type="submit">Prijavi se</button>
      </form>
    </section>
  </div>
</body>

<script>
  function changeUrl(url){
    window.location.href=url;
  }
</script>

</html>