<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/login.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <title>zamjene.hr</title>
</head>

<body>
  <img class="background-image" src="{{ url_for('static', filename='pictures/background.png')}}">
    <div class="body-login">

    <section class="login-window-skola">
      <img class="school-icon-login" src="{{ url_for('static', filename='pictures/school-icon.svg')}}"><br>
      <p class="login-text">Prijavite se kao škola</p><br>
      <form class="login-container" action="/loginskolasend" method="POST">
        <input class="input-box" type="text" placeholder="ID Škole" name="id" id="id">
        <input class="input-box" type="text" placeholder="Lozinka" name="password" id="passowrd"><br>
        <button style="width:107%;" type="submit">Prijavite se</button><br>
      </form>
      <p class="upit-text">Ako vaša škola nema račun pošaljite upit <br>
        za izradu računa na e-mail: info@zamjene.hr</p>
    </section>

    {% if error %}
      <div class="background-shadow"></div>
        <section class="wrong-info-container">
          <img class="alert-icon" src="{{ url_for('static', filename='pictures/alert-circle.svg')}}"><br>
          <p class="wrong-info-text">{{ error }}</p>
          <div class="line"></div>
          <button onclick="changeUrl('/loginskola')" class="try-again-button">Pokušaj ponovno</button>
        </section>
      </div>
    {% endif %}

    
</body>

<script>
  function changeUrl(url){
    window.location.href=url;
  }
</script>

</html>