<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/general.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/header.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/main.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/sidebar.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <title>zamjene.hr</title>
</head>

<body>

  <aside class="sidebar">
    <div class="logo-container">
      <span class="logo-text">zamjene.hr</span>
    </div>
    <section class="sidebar-buttons">
      <button class="pocetna-button" onclick="changeUrl('/')">Početna</button>
      {% if isLoggedIn=="True" %}
        {% if admin!="True" %}
          <button class="oglasna-button" onclick="changeUrl('/oglasnaploca')">Oglasna ploča</button>
          <button class="raspored-u-button"onclick="changeUrl('/rasporeducionica')">Raspored učionica</button>
          {% if skola!="True" %}
            <button class="zamjene-button" onclick="changeUrl('/prikazzamjenaucenik')">Moje zamjene</button>
            <button class="raspored-p-button" onclick="changeUrl('/prikaziraspored')">Raspored predmeta</button>
          {% endif %}
        {% endif %}
      {% endif %}
    </section>
    <section class="login-signup-container">
      {% if isLoggedIn=="True" %}
        {% if skola=="True" %}
        <button class="log-in-button" onclick="changeUrl('/viewprofile')">Upravni centar</button>
        <button class="sign-up-button" onclick="changeUrl('/logout')">Odjavi se</button>
        {% elif admin=="True" %}
          <button class="log-in-button" onclick="changeUrl('/addschool')">Dodaj školu</button>
          <button class="sign-up-button" onclick="changeUrl('/logout')">Izađi iz admin moda</button>
        {% else %}
          <button class="log-in-button" onclick="changeUrl('/viewprofile')">Profil</button>
          <button class="sign-up-button" onclick="changeUrl('/logout')">Odjavi se</button>
        {% endif %}
      {% else %}
        <button class="log-in-button" onclick="changeUrl('/login')">Prijavi se</button>
        <button class="sign-up-button" onclick="changeUrl('/register')">Napravi račun</button>
        <button class="log-in-button" onclick="changeUrl('/loginskola')">Prijavi se (Škola)</button>
        <button class="log-in-button" onclick="changeUrl('/addschool')">Dodaj školu</button>
      {% endif %} 
      <!--div class="name-container">
        <img class="user-icon" src="{{ url_for('static', filename='pictures/user.svg')}}">
        <p class="name">Mato Osman</p>
      </div-->
    </section>
  </aside>

  <!--header>
    <nav class="search-bar-container">
      <img class="search-icon" src="{{ url_for('static', filename='pictures/search.svg')}}">
      <input class="search-bar" type="text" placeholder="Pretraži">
    </nav>
  </header-->

  <main class="page-center">
    <section class="news-board"> 
      {% if sve_obavijesti %}
        {% for obavijest in sve_obavijesti %}
          <div class="post-title">{{ obavijest.name }}</div> <br>
          <div class="post-desc">{{ obavijest.content }}</div>
          <br>
        {% endfor %}
      {% else %}
        <p class="post-title">Nema obavijesti</p>
      {% endif %}
    </section>
  </main>

  <script>
    function changeUrl(url){
      window.location.href=url;
    }
  </script>

</body>
</html>