<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/home.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/sidebar.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/obavijesti.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <title>zamjene.hr</title>
</head>


<body>
  <div class="main">
    <div class="sidebar-cont">
      <div class="logo-container">
        <span class="logo-text">zamjene.hr</span>
      </div>
      <div class="sidebar-buttons-cont">
        <button class="sidebarbutton" onclick="changeUrl('/')">Početna</button>
        {% if isLoggedIn=="True" %}
          {% if skola!="True" %}
            <button class="sidebarbutton" onclick="changeUrl('/prikazzamjenaucenik')">Moje zamjene</button>
            <button class="sidebarbutton" onclick="changeUrl('/prikaziraspored')">Raspored predmeta</button>
          {% endif %}
          {% if admin!="True" %}
            <button class="sidebarbutton" onclick="changeUrl('/oglasnaploca')">Oglasna ploča</button>
            <button class="sidebarbutton"onclick="changeUrl('/rasporeducionica')">Raspored učionica</button>
          {% endif %}
        {% endif %}
      </div>
      <div class="sidebar-profile-cont">
        {% if isLoggedIn=="True" %}
          {% if skola=="True" %}
            <button class="sidebarbutton" onclick="changeUrl('/viewprofile')">Upravni centar</button>
            <button class="sidebarbutton darkbutton" onclick="changeUrl('/logout')">Odjavi se</button>
          {% elif admin=="True" %}
            <button class="sidebarbutton" onclick="changeUrl('/addschool')">Dodaj školu</button>
            <button class="sidebarbutton darkbutton" onclick="changeUrl('/logout')">Izađi iz admin moda</button>
          {% else %}
            <button class="sidebarbutton" onclick="changeUrl('/viewprofile')">Profil</button>
            <button class="sidebarbutton darkbutton" onclick="changeUrl('/logout')">Odjavi se</button>
          {% endif %}
        {% else %}
          <button class="sidebarbutton" onclick="changeUrl('/login')">Prijavi se</button>
          <button class="sidebarbutton darkbutton" onclick="changeUrl('/register')">Napravi račun</button>
          <button class="sidebarbutton" onclick="changeUrl('/loginskola')">Prijavi se (Škola)</button>
          <button class="sidebarbutton darkbutton" onclick="changeUrl('/addschool')">Dodaj školu</button>
        {% endif %} 
      </div>
    </div>
    <div class="main-cont">
      <div class="whole-obavijesti obavijesti-standalone">
        <div class="section-title">OBAVIJESTI</div> 
        <section class="obavijesti-cont">
          {% if sve_obavijesti %}
            {% for obavijest in sve_obavijesti %}
              <div class="obavijesti-section">
                <div class="post-title">{{ obavijest.name }}</div> <br>
                <div class="post-desc">{{ obavijest.content }}</div>
                <!--div class="post-img"{{ obavijest.image }}></div-->
              </div>
            {% endfor %}
          {% else %}
            <p class="post-title">Nema obavijesti</p>
          {% endif %}
        </section>
      </div>
    </div>
  </div>
</body>



<script>
  function changeUrl(url){
    window.location.href=url;
  }
</script>
</html>