<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/general.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/header.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/main.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/sidebar.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <title>zamjene.hr</title>
</head>


<body>
  <aside class="sidebar">
    <div class="logo-container">
      <span class="logo-text">zamjene.hr</span>
    </div>
    <section class="sidebar-buttons">
      <button class="pocetna-button" onclick="changeUrl('/')">Početna</button>
      {% if isLoggedIn=="True" %}
        {% if admin!="True" %}
          <button class="oglasna-button" onclick="changeUrl('/oglasnaploca')">Oglasna ploča</button>
          <button class="raspored-u-button"onclick="changeUrl('/rasporeducionica')">Raspored učionica</button>
          {% if Skola!="True" %}
            <button class="zamjene-button" onclick="changeUrl('/prikazzamjenaucenik')">Moje zamjene</button>
            <button class="raspored-p-button">Raspored predmeta</button>
          {% endif %}
        {% endif %}
      {% endif %}
    </section>
    <section class="login-signup-container">
      {% if isLoggedIn=="True" %}
        {% if Skola=="True" %}
        <button class="log-in-button" onclick="changeUrl('/viewprofile')">Upravni centar</button>
        <button class="sign-up-button" onclick="changeUrl('/logout')">Odjavi se</button>
        {% elif admin=="True" %}
          <button class="log-in-button" onclick="changeUrl('/addschool')">Dodaj školu</button>
          <button class="sign-up-button" onclick="changeUrl('/logout')">Izađi iz admin moda</button>
        {% else %}
          <button class="log-in-button" onclick="changeUrl('/viewprofile')">Profil</button>
          <button class="sign-up-button" onclick="changeUrl('/logout')">Odjavi se</button>
        {% endif %}
      {% else %}
        <button class="log-in-button" onclick="changeUrl('/login')">Prijavi se</button>
        <button class="sign-up-button" onclick="changeUrl('/register')">Napravi račun</button>
        <button class="log-in-button" onclick="changeUrl('/loginskola')">Prijavi se (Škola)</button>
        <button class="log-in-button" onclick="changeUrl('/addschool')">Dodaj školu</button>
      {% endif %} 
      <!--div class="name-container">
        <img class="user-icon" src="{{ url_for('static', filename='pictures/user.svg')}}">
        <p class="name">Mato Osman</p>
      </div-->
    </section>
  </aside>
  <p>ŠKOLA MENU</p>
  <p>IME ŠKOLE: {{ skola.name }}</p>
  <p>ID ŠKOLE: {{ skola.id }}</p>
  <p>LOZINKA ŠKOLE: {{ skola.login_password }}</p>

  <form method="post" action="/addad">
    <p style="overflow: hidden;">____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
    <label >Nova obavijest:</label> <br><br>
    <input type="text" name="name" title="Naslov oglasa" placeholder="Naslov" required> <br><br>
    <input type="text" name="content" title="Opis oglasa" placeholder="Sadržaj" required> <br><br>
    <input type="submit" value="Dodaj novu obavijest">
    <br><br>
  </form>

  <p>Sve obavijesti:</p>
  {% for obavijest in obavijesti %}
  <p>
    {{ obavijest.name }} || {{ obavijest.content }}
    <form action="/obrisiobavijest" method="post">
      <button type="submit">Obriši obavijest</button>
      <input type="hidden" name="school_id" value="{{ skola.id }}">
      <input type="hidden" name="obavijest_id" value="{{ obavijest.id }}"> 
    </form>
  </p>
  {% endfor %}
  <p style="overflow: hidden;">____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p><br><br>

  <form method="post" action="/dodajrazred"> 
    <label for="classroom_name">Dodaj novi razred:</label><br><br>
    <input type="text" name="classroom_name" placeholder="Ime razreda" required><br><br>
    <input type="submit" value="Dodaj novi razred"><br><br>
  </form>
  <p style="overflow: hidden;">____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>

  <form action="/update_table" method="get">
    <input type="hidden" name="school_id" value="{{ skola.id }}">
    <button type="submit">Raspored ucionica</button>
  </form>
  <p style="overflow: hidden;">____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>

  <section>
    <p>Razredi:</p>
    {% for classroom in classrooms %}
    <li>{{ classroom.name }} (ID: {{ classroom.id }})
      <section>
        <form action="/dodajraspored" method="get">
          <input type="hidden" name="classroom_id" value="{{ classroom.id }}">
          <button type="submit">Raspored</button>
        </form>
        <form action="/prikazizamjene" method="post">
            <input type="hidden" name="school_id" value="{{ skola.id }}">
            <input type="hidden" name="classroom_id" value="{{ classroom.id }}">
            <button type="submit">Zamjene</button>
        </form>
        <form action="/obrisirazred" method="post">
          <button type="submit">Obriši razred</button>
          <input type="hidden" name="school_id" value="{{ skola.id }}">
          <input type="hidden" name="classroom_id" value="{{ classroom.id }}">
        </form>
      </section>
    </li>
    {% endfor %}
  </section>
</body>
<script>
  function changeUrl(url){
    window.location.href=url;
  }
</script> 
</html>






